RewriteEngine On
RewriteBase /

# Támogatott nyelvek
SetEnvIf Accept-Language ^hu lang=hu
SetEnvIf Accept-Language ^de lang=de
SetEnvIf Accept-Language ^fr lang=fr
SetEnvIf Accept-Language ^nl lang=nl
SetEnvIf Accept-Language ^es lang=es

# Fallback, ha semmi sem egyezik
SetEnvIf lang ^$ lang=en

# Ha nem nyelvi útvonalon érkezik kérés és .html fájl
RewriteCond %{REQUEST_URI} !^/(en|hu|de|fr|nl|es)/
RewriteCond %{REQUEST_URI} \.html$ [NC]
RewriteRule ^(.*\.html)$ %{ENV:lang}/$1 [R=302,L]

# Tartalomtípus megadása
<FilesMatch "\.html$">
  Header set Content-Type "text/html; charset=UTF-8"
</FilesMatch>
