<section class="hero-section" aria-label="BeyondStart Solutions">
    <img
            class="hero-lcp-image"
            src="/images/hero_bg.webp"
            alt="hero background"
            width="1319"
            height="522"
            decoding="async"
            loading="eager"
            fetchpriority="high"
    >
    <div class="hero-overlay">
        <h1 class="hero-title" data-i18n="heroTitle">Hero Title</h1>
        <p class="hero-subtitle" data-i18n="heroSubtitle">
            Hero Subtitle
        </p>
        <p class="hero-subtitle" data-i18n="heroSubtitle2">
            Hero subtitle 2.
        </p>
        <a href="#contact" class="hero-cta" onclick="" data-i18n="bookButton">Időpontfoglalás</a>
    </div>
</section>