<section class="hero-section" aria-label="BeyondStart Solutions">
    <img
            class="hero-lcp-image"
            src="/images/hero_bg.webp"
            alt="hero background"
            width="1319"
            height="522"
            decoding="async"
            loading="eager"
            fetchpriority="high"
    >
    <div class="hero-overlay">
        <h1 class="hero-title" data-i18n="heroTitle">Drupal, Laravel vagy Shopify projekted káoszban van?</h1>
        <p class="hero-subtitle" data-i18n="heroSubtitle">
            A BeyondStart Solutions segít rendbe tenni, optimalizálni vagy újraindítani digitális projekted. 20 év
            tapasztalat, nagyvállalati háttérrel és startup-gyorsasággal.
        </p>
        <p class="hero-subtitle" data-i18n="heroSubtitle2">
            72 órán belül megoldjuk – vagy visszaadjuk a pénzed.
        </p>
        <a href="#contact" class="hero-cta" onclick="
            tracking('hero_cta', 'CTA', 'Hero CTA', 'AW-16905609495/xfF-CNjcmYAbEJfCnP0-');"
           data-i18n="bookButton">
            Időpontfoglalás
        </a>
    </div>
</section>