<section class="problem-section" aria-label="Miben segíthetünk?">
    <h2 class="section-title" data-i18n="problemTitle">Milyen problémát oldunk meg?</h2>
    <p class="section-text" data-i18n="problemText">Drupal oldalad régi és sebezhető?
        Laravel alapú rendszered
        lassú vagy hibás? Shopify boltod konverziója alacsony? Az ilyen típusú gondok nem várhatnak – mi pontosan
        erre
        specializálódtunk.</p>
    <p class="section-text" data-i18n="serviceIntro1">
        Három fókuszált csomagunkkal célzottan oldjuk meg ezeket a problémákat, 72 órán belül.
    </p>
</section>
