<section id="references" class="references-section" aria-label="References">
    <h2 class="section-title" data-i18n="referencesTitle">Our Clients</h2>
    <div class="reference-cards">
        <div class="reference-card has-bg">
            <img src="/images/kinepolis_bg.webp" alt="Client 1" class="reference-bg"
                 loading="lazy" width="657" height="260"/>
            <div class="reference-content">
                <h3 class="reference-title">Client 1</h3>
                <p data-i18n="ref1">Lorem Ipsum</p>
            </div>
            <a href="#" target="_blank" aria-label="Client 1"
               class="reference-link"></a>
        </div>

        <div class="reference-card has-bg">
            <img src="/images/techsoup_bg.webp" alt="Client 2" class="reference-bg" loading="lazy"
                 width="657" height="260"/>
            <div class="reference-content">
                <h3 class="reference-title">Client 2</h3>
                <p data-i18n="ref2">Lorem Ipsum</p>
            </div>
            <a href="#" target="_blank" aria-label="Client 2"
               class="reference-link"></a>
        </div>

        <div class="reference-card has-bg">
            <img src="/images/aceg_bg.webp" alt="Client 3" class="reference-bg" loading="lazy"
                 width="657" height="260"/>
            <div class="reference-content">
                <h3 class="reference-title">Client 3</h3>
                <p data-i18n="ref3">Lorem Ipsum</p>
            </div>
            <a href="#" target="_blank" aria-label="Client 3" class="reference-link"></a>
        </div>
    </div>
</section>
