<section id="services" class="services-section" aria-label="Services">
    <h2 class="section-title" data-i18n="servicesTitle">Our Services</h2>
    <div class="service-cards">
        <div class="service-card featured">
            <span class="badge" data-i18n="mostPopular">
                Smashing!
            </span>

            <h3 class="service-title" data-i18n="service1Title">Service 1<br/>€999</h3>
            <ul class="service-list">
                <li>
                    <span class="service-icon">🧪</span>
                    <span data-i18n="service1Item1">Lorem Ipsum</span>
                </li>
                <li>
                    <span class="service-icon">🔒</span>
                    <span data-i18n="service1Item2">Dolor sit amet</span>
                </li>
                <li>
                    <span class="service-icon">🧩</span>
                    <span data-i18n="service1Item3">consectetur adipiscing elit</span>
                </li>
                <li>
                    <span class="service-icon">👨‍💻</span>
                    <span data-i18n="service1Item4">Aenean in magna a libero interdum</span>
                </li>
                <li>
                    <span class="service-icon">⏱️</span>
                    <span data-i18n="service1Item5">elementum eget volutpat dolor</span>
                </li>
                <li>
                    <span class="service-icon">💯</span>
                    <span data-i18n="service1Item6">Ut congue eget magna id laoreet.</span>
                </li>
            </ul>

            <div class="text-center">
                <a href="https://calendly.com/zoltan-beyondstart"
                   target="_blank"
                   class="service-button"
                   data-i18n="bookButton">
                    Book appointment
                </a>
            </div>
        </div>
        <div class="service-card">
            <h3 class="service-title" data-i18n="service1Title">Service 2<br/>€999</h3>
            <ul class="service-list">
                <li>
                    <span class="service-icon">🧪</span>
                    <span data-i18n="service1Item1">Lorem Ipsum</span>
                </li>
                <li>
                    <span class="service-icon">🔒</span>
                    <span data-i18n="service1Item2">Dolor sit amet</span>
                </li>
                <li>
                    <span class="service-icon">🧩</span>
                    <span data-i18n="service1Item3">consectetur adipiscing elit</span>
                </li>
                <li>
                    <span class="service-icon">👨‍💻</span>
                    <span data-i18n="service1Item4">Aenean in magna a libero interdum</span>
                </li>
                <li>
                    <span class="service-icon">⏱️</span>
                    <span data-i18n="service1Item5">elementum eget volutpat dolor</span>
                </li>
                <li>
                    <span class="service-icon">💯</span>
                    <span data-i18n="service1Item6">Ut congue eget magna id laoreet.</span>
                </li>
            </ul>

            <div class="text-center">
                <a href="https://calendly.com/zoltan-beyondstart"
                   target="_blank"
                   class="service-button"
                   data-i18n="bookButton">
                    Book appointment
                </a>
            </div>
        </div>
        <div class="service-card">
            <h3 class="service-title" data-i18n="service1Title">Service 3<br/>€999</h3>
            <ul class="service-list">
                <li>
                    <span class="service-icon">🧪</span>
                    <span data-i18n="service1Item1">Lorem Ipsum</span>
                </li>
                <li>
                    <span class="service-icon">🔒</span>
                    <span data-i18n="service1Item2">Dolor sit amet</span>
                </li>
                <li>
                    <span class="service-icon">🧩</span>
                    <span data-i18n="service1Item3">consectetur adipiscing elit</span>
                </li>
                <li>
                    <span class="service-icon">👨‍💻</span>
                    <span data-i18n="service1Item4">Aenean in magna a libero interdum</span>
                </li>
                <li>
                    <span class="service-icon">⏱️</span>
                    <span data-i18n="service1Item5">elementum eget volutpat dolor</span>
                </li>
                <li>
                    <span class="service-icon">💯</span>
                    <span data-i18n="service1Item6">Ut congue eget magna id laoreet.</span>
                </li>
            </ul>

            <div class="text-center">
                <a href="https://calendly.com/zoltan-beyondstart"
                   target="_blank"
                   class="service-button"
                   data-i18n="bookButton">
                    Book appointment
                </a>
            </div>
        </div>
    </div>
</section>
